<ion-content>
  <div class="ds-auth">
    <div class="ds-auth__brand">DineScout</div>
    <h1 class="ds-auth__title">Reset your password</h1>

    @if (submitted()) {
      <p>If that email is registered, we've sent a reset link. Check your inbox.</p>
    } @else {
      <form [formGroup]="form" (ngSubmit)="submit()">
        <ion-input
          class="ds-auth__field"
          label="Email"
          labelPlacement="stacked"
          type="email"
          formControlName="email"
          fill="outline"
          autocomplete="email"
        ></ion-input>

        <ion-button expand="block" type="submit" class="ds-auth__submit" [disabled]="submitting()">
          {{ submitting() ? 'Sending…' : 'Send Reset Link' }}
        </ion-button>
      </form>
    }

    <div class="ds-auth__footer">
      <a routerLink="/auth/login">Back to Log In</a>
    </div>
  </div>
</ion-content>
